Task 3. Shapes. Methods/
Task 1. Shapes. Number of sides/x64/
Task 1. Shapes. Number of sides/.vs/
Task 1. Shapes. Number of sides/Task 1. Shapes. Number of sides.vcxproj.user
Task 2. Shapes. Sides and corners/x64/
Task 2. Shapes. Sides and corners/.vs/
Task 2. Shapes. Sides and corners/Task 2. Shapes. Sides and corners.vcxproj.user
